fastapi
uvicorn
pydantic
supabase
python-dotenv
numpy
pandas
openpyxl
requests
openai
sentence-transformers
torch
fastapi-mail
pyotp
python-multipart
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
reportlab
PyMuPDF
